@model Inventario_ACME.Models.Sucursal_A

@{
    ViewData["Title"] = "Compra Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Registrar compra de producto en la Sucursal A</h3>
        </div>

    </div>

    <div class="row col-sm-12">
        <div class="col-sm-10">
            <form asp-action="Compra" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="product_id" class="control-label"></label>
                    <input asp-for="product_id" class="form-control" readonly/>
                    <span asp-validation-for="product_id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label  class="control-label">Cantidad Actual</label>
                    <input asp-for="cantidad" class="form-control" readonly/>
                    <span asp-validation-for="cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Cantidad de Productos Comprados</label>
                    <input type="number" min="1" placeholder="Cantidad minima : 1" name="compra" class="form-control" />
                    
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrar Compra" class="btn btn-primary" />
                    <input type="button" onclick="history.back()" value="Cancelar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

